
.swiper-button-next{
  color: white ;
  padding-right: 1rem;
}
.swiper-button-prev{
  color: white ;
  padding-left: 1rem;
}

ion-icon{
  font-size: 32px;
  color: white;
}

.accordion{
  padding: 5rem 1rem 0 1rem;
}
.btn-accordion{
  background-color: var(--secondary-theme-color);
  color: var(--primary-text-color);
  width: 100%;
  border: transparent;
  border-bottom: solid var(--primary-text-color);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.accordion-title{
  padding: 0;
  display: flex;
  align-items: center;
}